<!DOCTYPE html>
<html>
  <head>
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href= "{% static 'custom.css' %}" 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> PizzaHub Pizzaria </title>
  </head>
  
	<body>
	<div id="geral">	
		<div id="topo"></div>
	
<ul>
  <li><a class="active" href="/funcionario/inicio/">Início</a></li>
  <li><a href="/funcionario/cadastroprodutos/">Cadastrar Produtos</a></li>
  <li><a class="active" href="/funcionario/pedidosfn/">Pedidos</a></li>
  <li><a href="/funcionario/produtos/">Estoque</a></li>
  <li><a href="{% url 'lgt' %}">Deslogar</a></li>
</ul>

{% if ped %}
 {% for itens in ped %}
	Sabor: {{  itens.sabor  }}</br>
	Quantidade: {{  itens.quantidade  }}</br>
	Preço: {{  itens.endereco  }}</br>
	Telefone: {{  itens.telefone  }}</br>
	Número de pedido: {{  itens.numerodepedido  }}</br>
	Status: {{  itens.status  }}</br>
	<br></br>
 {% endfor %}
{% else %}
    Nem um valor
{% endif %}
 


</div>

 {% if reto %}
  	<script>
          alert('{{ reto }}');
        </script>
 {% endif %}
	</body>	
	
</html>
