<!DOCTYPE html>
<html>
  <head>
	{% load static %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href= "{% static 'custom.css' %}" 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> PizzaHub Pizzaria </title>
  </head>
  
	<body>
	<div id="geral">	
		<div id="topo"></div>
	
<ul>
  <li><a class="active" href="/cliente/inicio/">Início</a></li>
  <li><a href="/cliente/fazerpedido/">Fazer Pedio</a></li>
  <li><a href="/cliente/pedidosconsulta/">Consultar Pedido</a></li>
  <li><a href="/cliente/cardapio/">Cardapios e Preços</a></li>
  <li><a href="/cliente/loogout/">Deslogar</a></li>
</ul>
	INÍCIO Cliente
	</div>
	</body>	
	
</html>
